@mixin badge {
	border-color:hsl(var(--crbn-foreground));
	color:hsl(var(--crbn-foreground));
	background-color:hsl(var(--crbn-background));
	border:1px solid;
	text-transform:uppercase;
	border-radius:3px;
	font-size:12px;
	line-height:13px;
	padding:5px 10px;
	font-weight: 900;
	display: block;
	width:fit-content;
	text-align: center;
	> span {
		width: 5px;
		height: 5px;
		display: flex;
		border-radius: 50%;
	}
	&.major{
		color: hsl(var(--crbn-destructive));
		border-color:hsl(var(--crbn-destructive));
		background-color: hsl(var(--crbn-destructive-foreground));
		> span {
			background-color: hsl(var(--crbn-destructive));
		}
	}
	&.minor{
		color:hsl(var(--crbn-valid));
		border-color:hsl(var(--crbn-valid));
		background-color: hsl(var(--crbn-valid-foreground));
		> span {
			background-color: hsl(var(--crbn-valid));
		}
	}
	&.patch{
		color:var(--brown);
		border-color:var(--brown);
		background-color: var(--yellow);
	}
	&.is-new{
		border-color:hsl(var(--crbn-foreground));
		color:hsl(var(--crbn-foreground));
		background-color:hsl(var(--crbn-background));
	}
	&.is-coming{
		border-color:hsl(var(--crbn-muted-foreground));
		color:hsl(var(--crbn-muted-foreground));
		background-color: hsl(var(--crbn-muted));
	}
}
