@mixin button {
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 7px;
	border:var(--blue-300) 2px solid;
	transition: background-color .2s cubic-bezier(0,.7,.3,.99), border-color .2s cubic-bezier(0,.7,.3,.99);
	background-color: var(--blue-500);
	white-space: nowrap;
	font-weight:700;
	color:white;
	transform: 0s;
	font-size: 1rem;
	&:hover, &:focus {
		color: white;
		border-color: var(--blue-300);
		background-color: var(--blue-600);
		transition: background-color .2s cubic-bezier(0,.7,.3,.99), border-color .2s cubic-bezier(0,.7,.3,.99);
		text-decoration: underline;
	}
	&:focus-visible {
		outline: 3px solid var(--blue-300);
	}
	&.is-light {
		color: var(--blue-400);
		background-color: var(--white);
		&:hover, &:focus {
			color: var(--blue-500);
			border-color: var(--blue-500);
			background-color: var(--light-grey);
			transition: background-color .2s cubic-bezier(0,.7,.3,.99);
		}
	}
	&.is-outline {
		border:1px solid var(--blue-500);
		color:var(--blue-500);
		background: var(--white);
		&:hover, &:focus {
			color: var(--white);
			background-color: var(--blue-500);
		}
	}
	&.not-available{
		background-color: var(--grey);
		border:var(--medium-grey) 1px solid;
		color:var(--medium-grey);
		pointer-events: none;
	}
	&.is-small {
		padding: 3px 10px;
		font-weight: initial;
		font-size: 14px;
	}
}
