:root {
  --blue-50: #F1F5FD;
  --blue-100: #DFE9FA;
  --blue-200: #9EC0F2;
  --blue-300: #709FEA;
  --blue-400: #4374E0;
  --blue-500: #3A60D6;
  --blue-600: #314EC4;
  --blue-700: #2E409F;
  --blue-800: #2A3A7E;
  --blue-900: #151826;
  --white: #FFFFFF;
  --grey: #3E3E3E;
  --light-grey: #f7f7f7;
  --medium-grey: #A1A3AA;
  --dark-grey: #21242C;
  --dark-grey-2:#252A3E;
  --black: #0A0D19;
  --red: #EF4445;
  --light-red:#FDF2F2;
  --light-yellow:#FDFDEA;
  --brown:#723B14;
  --green:#318438;
  --light-green:#F3FAF7;
}
