@import '../../src/admin/styles/theme.scss';
@import './mixins';
@import './button';
@import './badge';

body.toplevel_page_carbon-plugins {
	background-color: white;
	#wpbody-content>div.notice {
		display: none;
	}
}

.carbon-plugins {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display:flex;
	flex-direction: column;
	padding-right: 20px;
  @media screen and (max-width:782px){
    padding-right:10px;
  }
	> h1{
		width:100%;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 800;
	}
	> main {
		display:flex;
		gap:20px;
		margin-top: 20px;
		flex-wrap: nowrap;
		flex-direction: column;
		@include md {
			flex-direction: row;
		}
	}
	> main {
		& > section {
			display:flex;
			gap:20px;
			flex-wrap: nowrap;
			flex-direction: column;
			width: 50%;
			& > section {
				display: flex;
				padding: 2rem;
				flex-direction: column;
				border-radius: var(--crbn-radius);
				border: 1px solid hsl(var(--crbn-border));
				background: hsl(var(--crbn-card));
				color: hsl(var(--crbn-foreground));
				height: fit-content;
				gap:20px;
			}
		}
		h2{
			width:100%;
			margin:0;
			margin-bottom:10px;
			font-size: 1.5rem;
			line-height: 2rem;
			font-weight: 700;
		}
		h3{
			display:flex;
			align-items: center;
			gap:5px;
			margin:0;
			font-size: 1.25rem;
			line-height: 1.35;
			svg{
				height:30px;
				width:30px;
			}
		}
		header {
			display: flex;
			gap: 10px;
			align-items: center;
			justify-content: space-between;
			.badge {
				display: flex;
				gap: 5px;
				align-items: center;
				justify-content: center;
			}
		}
		article{
			position:relative;
			display:flex;
			flex-direction: column;
			width: 100%;
			flex: 1;
			&:has(+ article) {
				border-bottom: 1px solid hsl(var(--crbn-border));
				padding-bottom: 20px;
			}
			> p{
				margin:10px 0;
				font-size: 1rem;
			}
			> section{
				display:flex;
				gap:10px;
				align-items: flex-start;
				margin-top: 10px;
			}
			a{
				display:flex !important;
				align-items: center;
				justify-content: center;
				gap:5px;
				svg{
					height:20px;
				}
			}
		}
		ul {
			display: flex;
			gap: 10px;
			flex-wrap: wrap;
		}
	}
	.button {
		@include button;
	}
	.badge {
		@include badge;
	}
}

html {
	@include theme-light;
}

html.dark {
	@include theme-dark;
}

@media (prefers-color-scheme: dark) {
	html {
		@include theme-dark;
	}
}

@media (prefers-color-scheme: light) {
	html {
		@include theme-light;
	}
}
