.wp-block-carbon-blocks-counter {
	text-align:center;
	box-sizing:border-box;
	flex-direction: column;
	min-width: 200px;
	justify-content: center;
	.wp-block-carbon-blocks-icon {
		width: fit-content;
	}
	> dt{
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-bottom: 10px;
		> span{
			font-weight:bold;
			font-size:clamp(32px, 4vw, 56px);
			line-height: 1;
		}
		> p {
			margin: 0;
			line-height: 1.5;
			overflow-wrap: initial;
		}
	}
	> dd {
		margin: 0;
	}

	&.is-style-modern{
		padding: 1.5rem;
		background-color: #ffffff;
		border-radius: 0.5rem;
		border-width: 1px;
		border-color: #E5E7EB;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
	}
}
