.wp-block-carbon-blocks-testimonial {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 .5rem;

	h3{
		font-size: 1.5rem !important;
		line-height: 2rem !important;
		font-weight: 500 !important;
		text-align:center;
		margin: 0;
	}
}
